.header-button {
  margin-left: auto;
  background-color: transparent;

  // &--is-open .header-button__cross {
  //   display: block;
  // }

  // &--is-open .header-button__menu {
  //   display: none;
  // }

  @include tablet {
    display: none;
  }
}

.header-button__cross {
  display: none;
}

.header-button.is-open .header-button__cross {
  display: block;

  &:hover {
    fill: var($accent);
  }
}

.header-button.is-open .header-button__menu {
  display: none;
}
