.mob-menu {
  position: fixed;

  top: 0;
  left: 0;

  display: flex;
  display: none;
  flex-direction: column;

  padding: 48px 40px;

  width: 100%;
  height: 100%;

  background-color: #ffffff;

  text-align: center;
  color: black;

  &.is-open {
    display: block;
  }
}

.mob-menu {
}
.menu-site-nav {
}
.list {
}
.item {
}
.menu-site-nav__item {
}
.menu-site-nav__link {
}
.link {
}
.current {
}
.menu-auth-nav {
}
.menu-auth-nav__item {
}
.menu-auth-nav__link {
}
.menu-auth-nav__icon {
}
