// .page-header {
//   position: fixed;
//   width: 100%;
//   top: 0;

//   z-index: 1;

//   background-color: $bc;
//   border: 1px solid #ececec;
// }
// .page-header__nav {
//   display: flex;
// }
// .page-header__logo {
//   color: #000000;
//   padding-top: 24px;
//   padding-bottom: 25px;
// }

// .site-nav {
//   display: flex;
//   margin-left: 93px;

//   gap: 50px;
// }
// .site-nav__item {
// }
// .site-nav__link {
// }

// .auth-nav {
//   display: flex;
//   margin-left: auto;
//   align-items: baseline;

//   gap: 50px;
// }
// .auth-nav__item {
// }
// .auth-nav__link {
// }

// .auth-nav__icon {
//   fill: currentColor;
//   margin-right: 10px;
// }

// .site-nav__link {
//   display: flex;
//   padding-top: 32px;
//   padding-bottom: 32px;

//   align-items: center;

//   font-weight: 500;
//   line-height: 1.14;
//   letter-spacing: 0.02em;

//   color: $main-text-color;

//   &:hover,
//   &:focus {
//     color: $accent;
//   }
// }

// .auth-nav__link {
//   display: flex;
//   padding-top: 32px;
//   padding-bottom: 32px;

//   align-items: center;

//   font-weight: 500;
//   line-height: 1.14;
//   letter-spacing: 0.02em;

//   color: $second-text-color;

//   &:hover,
//   &:focus {
//     color: $accent;
//   }
// }

// .site-nav__item .current {
//   position: relative;
//   color: $accent;

//   &::after {
//     position: absolute;
//     content: '';
//     bottom: 0;
//     left: 0;

//     width: 100%;
//     height: 4px;

//     border-radius: 2px;
//     background-color: $accent;
//   }
// }

.page-header {
  position: fixed;
  width: 100%;
  height: 60px;
  left: 0;
  top: 0;
  left: 0;
  z-index: 1;

  background-color: $bc;
  border: 1px solid #ececec;

  @include tablet {
    height: 80px;
  }
}
.container-header {
  display: flex;
  align-items: center;

  @include tablet {
    height: 80px;
  }
}
.page-header__nav {
  // display: flex;
}

.page-header__logo {
  display: block;
  color: #000000;
  padding-top: 16px;
  padding-bottom: 16px;

  @include tablet {
    padding-top: 26px;
    padding-bottom: 26px;
  }
}

.site-nav {
  display: none;

  @include tablet {
    display: flex;
    margin-left: 88px;

    gap: 51px;
  }

  @include desktop {
    margin-left: 93px;
  }
}

.site-nav__link {
  display: flex;
  padding-top: 32px;
  padding-bottom: 32px;

  align-items: center;

  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: $main-text-color;

  &:hover,
  &:focus {
    color: $accent;
  }
}

.site-nav__item .current {
  @include tablet {
    position: relative;
    color: $accent;

    &::after {
      position: absolute;
      content: '';
      bottom: 0;
      left: 0;

      width: 100%;
      height: 4px;

      border-radius: 2px;
      background-color: $accent;
    }
  }
}

.auth-nav {
  display: none;

  @include tablet {
    display: flex;
    flex-direction: column;

    padding-top: 21px;
    padding-bottom: 21px;

    margin-left: auto;

    align-items: baseline;
    justify-content: center;
    gap: 10px;
  }

  @include desktop {
    flex-direction: row;
    align-items: baseline;

    padding-top: 32px;
    padding-bottom: 32px;

    gap: 40px;
  }
}

.auth-nav__link {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.02em;

  color: $second-text-color;

  &:hover,
  &:focus {
    color: $accent;
  }

  @include desktop {
    font-size: 14px;
    line-height: 1.14;
  }
}

.auth-nav__icon {
  fill: currentColor;
  margin-right: 10px;
}
